{% extends 'index.html' %}

{% block content %}
    <h2>Edit Task</h2>
    <form method="POST" action="/task/{{ task.id }}">
        <input type="hidden" name="_method" value="PUT">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ task.title }}"><br>

        <label for="project_id">Project ID:</label><br>
        <input type="number" id="project_id" name="project_id" value="{{ task.project_id }}"><br>

        <label for="column_id">Column ID:</label><br>
        <input type="number" id="column_id" name="column_id" value="{{ task.column_id }}"><br>

        <label for="user_id">User ID:</label><br>
        <input type="number" id="user_id" name="user_id" value="{{ task.user_id }}"><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ task.description }}</textarea><br>

         <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value="В очереди" {% if task.status == "В очереди" %}selected{% endif %}>В очереди</option>
            <option value="В работе" {% if task.status == "В работе" %}selected{% endif %}>В работе</option>
            <option value="Выполнено" {% if task.status == "Выполнено" %}selected{% endif %}>Выполнено</option>
        </select><br>

        <button type="submit">Update Task</button>
    </form>
{% endblock %}